body {
background-color: #eee;
COLOR: #333;
font-family: Georgia, 'Times New Roman', Times, serif;
}


main {
border-image: 2px;solid #eee
width: 600xp
margin:-auto ;;;
paddng 20px
borden radius 10xp
}




head {border: 2px; solid #999;
    height: 150px;

}



nav{

}







aside {

}



footer{

}